<f:be.container loadPrototype="FALSE" loadExtJsTheme="FALSE">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">

			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
			    <div id="messages">
				    <f:flashMessages class="tx-extbase-flash-message" renderMode='div'/>
				</div>
				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>